body {
  margin:0px;
  background-color:rgba(248, 248, 248, 1);
  background-image:none;
  position:static;
  left:auto;
  width:921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:1278px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:1278px;
}
#u9 {
  position:absolute;
  left:2px;
  top:631px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
