body {
  margin:0px;
  background-color:rgba(107, 107, 107, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:898px;
}
#u311 {
  position:absolute;
  left:573px;
  top:136px;
  width:438px;
  height:898px;
}
#u312 {
  position:absolute;
  left:2px;
  top:441px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:599px;
  top:243px;
  width:385px;
  height:685px;
}
#u313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:685px;
}
#u314 {
  position:absolute;
  left:598px;
  top:306px;
  width:387px;
  height:222px;
  overflow:hidden;
}
#u314_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:222px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u314_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:224px;
}
#u315 {
  position:absolute;
  left:-7px;
  top:0px;
  width:397px;
  height:224px;
}
#u316 {
  position:absolute;
  left:2px;
  top:104px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:222px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u314_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:258px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:258px;
}
#u318 {
  position:absolute;
  left:2px;
  top:121px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:222px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u314_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:585px;
}
#u319 {
  position:absolute;
  left:0px;
  top:-133px;
  width:391px;
  height:585px;
}
#u320 {
  position:absolute;
  left:2px;
  top:284px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:222px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u314_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:288px;
}
#u321 {
  position:absolute;
  left:0px;
  top:-67px;
  width:384px;
  height:288px;
}
#u322 {
  position:absolute;
  left:2px;
  top:136px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:222px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u314_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:256px;
}
#u323 {
  position:absolute;
  left:0px;
  top:-7px;
  width:384px;
  height:256px;
}
#u324 {
  position:absolute;
  left:2px;
  top:120px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:222px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u314_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:256px;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:256px;
}
#u326 {
  position:absolute;
  left:2px;
  top:120px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u327 {
  position:absolute;
  left:755px;
  top:538px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u327_img.selected {
}
#u327.selected {
}
#u328 {
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u329 {
  position:absolute;
  left:768px;
  top:538px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u329_img.selected {
}
#u329.selected {
}
#u330 {
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u331 {
  position:absolute;
  left:780px;
  top:538px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u331_img.selected {
}
#u331.selected {
}
#u332 {
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u333 {
  position:absolute;
  left:792px;
  top:538px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u333_img.selected {
}
#u333.selected {
}
#u334 {
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u335 {
  position:absolute;
  left:805px;
  top:538px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u335_img.selected {
}
#u335.selected {
}
#u336 {
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u337 {
  position:absolute;
  left:818px;
  top:538px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u337_img.selected {
}
#u337.selected {
}
#u338 {
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u339 {
  position:absolute;
  left:598px;
  top:264px;
  width:387px;
  height:43px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u340 {
  position:absolute;
  left:2px;
  top:10px;
  width:383px;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u341 {
  position:absolute;
  left:610px;
  top:233px;
  width:9px;
  height:15px;
}
#u342 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u343 {
  position:absolute;
  left:597px;
  top:231px;
  width:388px;
  height:38px;
}
#u344 {
  position:absolute;
  left:2px;
  top:11px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:12px;
}
#u345 {
  position:absolute;
  left:616px;
  top:247px;
  width:350px;
  height:12px;
}
#u346 {
  position:absolute;
  left:2px;
  top:-2px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u347 {
  position:absolute;
  left:616px;
  top:281px;
  width:9px;
  height:15px;
}
#u348 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349 {
  position:absolute;
  left:599px;
  top:589px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u350 {
  position:absolute;
  left:678px;
  top:589px;
  width:107px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u351 {
  position:absolute;
  left:627px;
  top:593px;
  width:29px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u351_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u351.selected {
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u353 {
  position:absolute;
  left:707px;
  top:593px;
  width:57px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u353_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u353.selected {
}
#u354 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u355 {
  position:absolute;
  left:599px;
  top:615px;
  width:385px;
  height:313px;
  overflow:hidden;
  touch-action:pan-y;
}
#u355_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:313px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/更多故事/u355_state0.JPG');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:405px 329px;
}
#u355_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u355_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:313px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/更多故事/u355_state0.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:405px 329px;
}
#u355_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u355_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:313px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/更多故事/u355_state0.JPG');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:405px 329px;
}
#u355_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u355_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:313px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/更多故事/u355_state0.JPG');
  background-position:center top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:405px 329px;
}
#u355_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u355_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:313px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/更多故事/u355_state0.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:405px 329px;
}
#u355_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u356 {
  position:absolute;
  left:785px;
  top:589px;
  width:96px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u357 {
  position:absolute;
  left:881px;
  top:589px;
  width:103px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u358 {
  position:absolute;
  left:805px;
  top:593px;
  width:57px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u358_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u358.selected {
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u360 {
  position:absolute;
  left:904px;
  top:593px;
  width:57px;
  height:20px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u360_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u360.selected {
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u362 {
  position:absolute;
  left:107px;
  top:538px;
  width:383px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u363 {
  position:absolute;
  left:2px;
  top:36px;
  width:379px;
  word-wrap:break-word;
}
