body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:111px;
}
#u5420 {
  position:absolute;
  left:52px;
  top:25px;
  width:308px;
  height:111px;
}
#u5421 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  word-wrap:break-word;
}
