body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:974px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:856px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:856px;
}
#u11 {
  position:absolute;
  left:2px;
  top:420px;
  width:970px;
  visibility:hidden;
  word-wrap:break-word;
}
