body {
  margin:0px;
  background-color:rgba(0, 0, 0, 0.63921568627451);
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:898px;
}
#u921 {
  position:absolute;
  left:392px;
  top:25px;
  width:438px;
  height:898px;
}
#u922 {
  position:absolute;
  left:2px;
  top:441px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:418px;
  top:132px;
  width:385px;
  height:685px;
}
#u923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:685px;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
  -webkit-box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
  box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
}
#u924 {
  position:absolute;
  left:425px;
  top:757px;
  width:375px;
  height:58px;
}
#u925 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u926 {
  position:absolute;
  left:425px;
  top:757px;
  width:375px;
  height:1px;
  opacity:0.8;
}
#u927 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u928 {
  position:absolute;
  left:575px;
  top:288px;
  width:71px;
  height:22px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u930 {
  position:absolute;
  left:584px;
  top:312px;
  width:53px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:418px;
  top:352px;
  width:385px;
  height:16px;
}
#u933 {
  position:absolute;
  left:2px;
  top:0px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:-18px;
  top:-18px;
  width:98px;
  height:98px;
}
#u934 {
  position:absolute;
  left:444px;
  top:378px;
  width:58px;
  height:58px;
}
#u935 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u936 {
  position:absolute;
  left:582px;
  top:378px;
  width:58px;
  height:58px;
}
#u937 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u938 {
  position:absolute;
  left:723px;
  top:378px;
  width:58px;
  height:58px;
}
#u939 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:484px;
}
#u940 {
  position:absolute;
  left:418px;
  top:127px;
  width:385px;
  height:484px;
}
#u941 {
  position:absolute;
  left:2px;
  top:234px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:-19px;
  top:-19px;
  width:101px;
  height:101px;
}
#u942 {
  position:absolute;
  left:575px;
  top:743px;
  width:61px;
  height:61px;
}
#u943 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:417px;
  top:352px;
  width:386px;
  height:405px;
}
#u945 {
  position:absolute;
  left:2px;
  top:194px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u946 {
  position:absolute;
  left:460px;
  top:374px;
  width:37px;
  height:37px;
}
#u947 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u948 {
  position:absolute;
  left:585px;
  top:753px;
  width:42px;
  height:42px;
}
#u949 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u950 {
  position:absolute;
  left:745px;
  top:765px;
  width:34px;
  height:34px;
}
#u951 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u952 {
  position:absolute;
  left:438px;
  top:799px;
  width:29px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u954 {
  position:absolute;
  left:512px;
  top:798px;
  width:43px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u956 {
  position:absolute;
  left:661px;
  top:799px;
  width:43px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u958 {
  position:absolute;
  left:752px;
  top:799px;
  width:29px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u960 {
  position:absolute;
  left:432px;
  top:767px;
  width:33px;
  height:33px;
}
#u961 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u962 {
  position:absolute;
  left:513px;
  top:766px;
  width:33px;
  height:32px;
}
#u963 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u964 {
  position:absolute;
  left:658px;
  top:765px;
  width:36px;
  height:36px;
}
#u965 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u966 {
  position:absolute;
  left:590px;
  top:374px;
  width:41px;
  height:41px;
}
#u967 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:39px;
}
#u968 {
  position:absolute;
  left:714px;
  top:371px;
  width:32px;
  height:39px;
}
#u969 {
  position:absolute;
  left:2px;
  top:12px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u970 {
  position:absolute;
  left:462px;
  top:420px;
  width:27px;
  height:16px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u972 {
  position:absolute;
  left:723px;
  top:420px;
  width:27px;
  height:16px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u974 {
  position:absolute;
  left:597px;
  top:419px;
  width:27px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u976 {
  position:absolute;
  left:453px;
  top:497px;
  width:22px;
  height:22px;
}
#u977 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u978 {
  position:absolute;
  left:486px;
  top:501px;
  width:53px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u980 {
  position:absolute;
  left:453px;
  top:544px;
  width:22px;
  height:22px;
}
#u981 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u982 {
  position:absolute;
  left:486px;
  top:546px;
  width:53px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:417px;
  top:127px;
  width:386px;
  height:40px;
}
#u985 {
  position:absolute;
  left:2px;
  top:12px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:12px;
}
#u986 {
  position:absolute;
  left:436px;
  top:145px;
  width:351px;
  height:12px;
}
#u987 {
  position:absolute;
  left:2px;
  top:-2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u988 {
  position:absolute;
  left:572px;
  top:224px;
  width:78px;
  height:78px;
}
#u989 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:417px;
  top:447px;
  width:386px;
  height:14px;
}
#u991 {
  position:absolute;
  left:2px;
  top:-1px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:584px;
  top:307px;
  width:53px;
  height:25px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
