body {
  margin:0px;
  background-color:rgba(0, 0, 0, 0.63921568627451);
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:898px;
}
#u938 {
  position:absolute;
  left:392px;
  top:25px;
  width:438px;
  height:898px;
}
#u939 {
  position:absolute;
  left:2px;
  top:441px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940 {
  position:absolute;
  left:418px;
  top:132px;
  width:385px;
  height:685px;
}
#u940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:685px;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
  -webkit-box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
  box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
}
#u941 {
  position:absolute;
  left:425px;
  top:757px;
  width:375px;
  height:58px;
}
#u942 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u943 {
  position:absolute;
  left:425px;
  top:757px;
  width:375px;
  height:1px;
  opacity:0.8;
}
#u944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u945 {
  position:absolute;
  left:575px;
  top:288px;
  width:71px;
  height:22px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u947 {
  position:absolute;
  left:584px;
  top:312px;
  width:53px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:418px;
  top:352px;
  width:385px;
  height:16px;
}
#u950 {
  position:absolute;
  left:2px;
  top:0px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:-18px;
  top:-18px;
  width:98px;
  height:98px;
}
#u951 {
  position:absolute;
  left:444px;
  top:378px;
  width:58px;
  height:58px;
}
#u952 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u953 {
  position:absolute;
  left:582px;
  top:378px;
  width:58px;
  height:58px;
}
#u954 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u955 {
  position:absolute;
  left:723px;
  top:378px;
  width:58px;
  height:58px;
}
#u956 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:484px;
}
#u957 {
  position:absolute;
  left:418px;
  top:127px;
  width:385px;
  height:484px;
}
#u958 {
  position:absolute;
  left:2px;
  top:234px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:-19px;
  top:-19px;
  width:101px;
  height:101px;
}
#u959 {
  position:absolute;
  left:575px;
  top:743px;
  width:61px;
  height:61px;
}
#u960 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  position:absolute;
  left:417px;
  top:352px;
  width:386px;
  height:405px;
}
#u962 {
  position:absolute;
  left:2px;
  top:194px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u963 {
  position:absolute;
  left:460px;
  top:374px;
  width:37px;
  height:37px;
}
#u964 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u965 {
  position:absolute;
  left:585px;
  top:753px;
  width:42px;
  height:42px;
}
#u966 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u967 {
  position:absolute;
  left:745px;
  top:765px;
  width:34px;
  height:34px;
}
#u968 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u969 {
  position:absolute;
  left:438px;
  top:799px;
  width:29px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u971 {
  position:absolute;
  left:512px;
  top:798px;
  width:43px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u973 {
  position:absolute;
  left:661px;
  top:799px;
  width:43px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u975 {
  position:absolute;
  left:752px;
  top:799px;
  width:29px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  color:#953435;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u977 {
  position:absolute;
  left:432px;
  top:767px;
  width:33px;
  height:33px;
}
#u978 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u979 {
  position:absolute;
  left:513px;
  top:766px;
  width:33px;
  height:32px;
}
#u980 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u981 {
  position:absolute;
  left:658px;
  top:765px;
  width:36px;
  height:36px;
}
#u982 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u983 {
  position:absolute;
  left:590px;
  top:374px;
  width:41px;
  height:41px;
}
#u984 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:39px;
}
#u985 {
  position:absolute;
  left:714px;
  top:371px;
  width:32px;
  height:39px;
}
#u986 {
  position:absolute;
  left:2px;
  top:12px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u987 {
  position:absolute;
  left:462px;
  top:420px;
  width:27px;
  height:16px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u989 {
  position:absolute;
  left:723px;
  top:420px;
  width:27px;
  height:16px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u991 {
  position:absolute;
  left:597px;
  top:419px;
  width:27px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u993 {
  position:absolute;
  left:453px;
  top:497px;
  width:22px;
  height:22px;
}
#u994 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u995 {
  position:absolute;
  left:486px;
  top:501px;
  width:53px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u997 {
  position:absolute;
  left:453px;
  top:544px;
  width:22px;
  height:22px;
}
#u998 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u999 {
  position:absolute;
  left:486px;
  top:546px;
  width:53px;
  height:18px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:13px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:417px;
  top:127px;
  width:386px;
  height:40px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:12px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:12px;
}
#u1003 {
  position:absolute;
  left:436px;
  top:145px;
  width:351px;
  height:12px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:-2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u1005 {
  position:absolute;
  left:572px;
  top:224px;
  width:78px;
  height:78px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:417px;
  top:447px;
  width:386px;
  height:14px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:-1px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1009 {
  position:absolute;
  left:594px;
  top:307px;
  width:34px;
  height:25px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
  -webkit-box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
  box-shadow:1px 1px 25px rgba(255, 122, 81, 0.0588235294117647);
}
#u1011 {
  position:absolute;
  left:417px;
  top:757px;
  width:386px;
  height:60px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:22px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u1013 {
  position:absolute;
  left:418px;
  top:757px;
  width:383px;
  height:1px;
  opacity:0.8;
}
#u1014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#933536;
}
#u1015 {
  position:absolute;
  left:443px;
  top:794px;
  width:23px;
  height:16px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#933536;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#933536;
}
#u1017 {
  position:absolute;
  left:512px;
  top:793px;
  width:37px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#933536;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#933536;
}
#u1019 {
  position:absolute;
  left:663px;
  top:795px;
  width:37px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#933536;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#933536;
}
#u1021 {
  position:absolute;
  left:748px;
  top:796px;
  width:25px;
  height:17px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#933536;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1023 {
  position:absolute;
  left:743px;
  top:764px;
  width:36px;
  height:36px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1025 {
  position:absolute;
  left:437px;
  top:763px;
  width:34px;
  height:34px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1027 {
  position:absolute;
  left:514px;
  top:763px;
  width:35px;
  height:35px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1029 {
  position:absolute;
  left:664px;
  top:761px;
  width:40px;
  height:40px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:-19px;
  top:-19px;
  width:102px;
  height:103px;
}
#u1031 {
  position:absolute;
  left:585px;
  top:752px;
  width:62px;
  height:63px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u1033 {
  position:absolute;
  left:595px;
  top:763px;
  width:43px;
  height:43px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:530px;
  top:686px;
  width:172px;
  height:61px;
  overflow:hidden;
  visibility:hidden;
}
#u1035_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:61px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1035_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1036_img {
  position:absolute;
  left:-19px;
  top:-19px;
  width:93px;
  height:93px;
}
#u1036 {
  position:absolute;
  left:4px;
  top:3px;
  width:53px;
  height:53px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:-19px;
  top:-19px;
  width:93px;
  height:93px;
}
#u1038 {
  position:absolute;
  left:114px;
  top:3px;
  width:53px;
  height:53px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
