body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:611px;
}
#u5366 {
  position:absolute;
  left:109px;
  top:87px;
  width:376px;
  height:611px;
}
#u5367 {
  position:absolute;
  left:2px;
  top:298px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5368 {
  position:absolute;
  left:109px;
  top:47px;
  width:376px;
  height:40px;
}
#u5369 {
  position:absolute;
  left:2px;
  top:12px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5370 {
  position:absolute;
  left:168px;
  top:58px;
  width:63px;
  height:14px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u5372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5372 {
  position:absolute;
  left:279px;
  top:60px;
  width:80px;
  height:14px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5373 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5374 {
  position:absolute;
  left:405px;
  top:60px;
  width:76px;
  height:14px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5375 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u5376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5377 {
  position:absolute;
  left:450px;
  top:60px;
  width:27px;
  height:17px;
}
#u5378 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5379 {
  position:absolute;
  left:455px;
  top:65px;
  width:17px;
  height:7px;
}
#u5380 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5381 {
  position:absolute;
  left:477px;
  top:65px;
  width:4px;
  height:7px;
}
#u5382 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:154px;
}
#u5383 {
  position:absolute;
  left:505px;
  top:47px;
  width:375px;
  height:154px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u5384 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u5385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u5386 {
  position:absolute;
  left:301px;
  top:605px;
  width:65px;
  height:58px;
}
#u5387 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5388 {
  position:absolute;
  left:311px;
  top:666px;
  width:66px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5389 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
